$font-primary:'Rubik', sans-serif;


//kolory
$primary: rgb(245, 56, 56);
$text: #0B132A;
$text-light: #4f5665ea;



//różne
$filter-primary:rgba(0, 0, 0, 0.4);
$trans: all 0.3s ease-in;


//gutetrs
$s: 30px;
$m: 40px;
$l:50px;
$xl: 60px;
$rad: 10px;
